<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>MyPayrollProject</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmployeeRegistrationServlet</display-name>
		<servlet-name>EmployeeRegistrationServlet</servlet-name>
		<servlet-class>servlet.EmployeeRegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminServlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditdetailsServlet</display-name>
		<servlet-name>EditdetailsServlet</servlet-name>
		<servlet-class>servlet.EditdetailsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReportServlet</display-name>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>servlet.ReportServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InternetServlet</display-name>
		<servlet-name>InternetServlet</servlet-name>
		<servlet-class>servlet.InternetServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutEmp</display-name>
		<servlet-name>LogoutEmp</servlet-name>
		<servlet-class>servlet.LogoutEmp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PayslipDetails</display-name>
		<servlet-name>PayslipDetails</servlet-name>
		<servlet-class>servlet.PayslipDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeRegistrationServlet</servlet-name>
		<url-pattern>/EmployeeRegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditdetailsServlet</servlet-name>
		<url-pattern>/EditdetailsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/ReportServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InternetServlet</servlet-name>
		<url-pattern>/InternetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutEmp</servlet-name>
		<url-pattern>/LogoutEmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PayslipDetails</servlet-name>
		<url-pattern>/PayslipDetails</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Entrance.html</welcome-file>
	</welcome-file-list>	
</web-app>
